<!-- START PANEL -->
<div class="padding-30 sm-no-padding xs-no-padding">
    <div class="card no-border bg-transparent full-width" data-social="item">

        <div class="container-fluid p-t-30 p-b-30 " *ngIf="log">
            <!-- User -->
            <div class="row">
                <div class="col-md-4">
                    <div class="container-xs-height">
                        <div class="row-xs-height">
                            <div class="social-user-profile col-xs-height text-center col-top">
                                <div class="thumbnail-wrapper d48 circular bordered b-white">
                                  <img  *ngIf="log.customer_profile_img_url != ''" alt="Avatar" width="55" height="55" [src]="session.profile_img_url">
                                  <img  *ngIf="log.customer_profile_img_url == ''" alt="Avatar" width="55" height="55" src="assets/img/profiles/avatar.jpg">
                                </div>
                            </div>
                            <div class="col-xs-height p-l-20">
                                <h3 class="no-margin">{{log.customer_name}} {{log.customer_surnames}}</h3>
                                <p class="no-margin fs-16">{{log.customer_email}}</p>
                                <p class="hint-text m-t-5 small"><i class="fa fa-mobile-phone"></i> {{log.customer_phone == null ? '-': log.customer_phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Badge -->
                <div class="col-md-4 col-md-offset-4">
                    <ul class="list-inline pull-right">
                        <li>
                            <img alt="badge" class="insignia" src="assets/img/badge_bronze.svg">
                        </li>
                        <li>
                            <h2 class="insignia-points">
                                <span class="bold">{{log.points}}</span>
                                <span class="fs-12">puntos</span>
                            </h2>
                        </li>
                    </ul>
                </div>
                <!-- END Badge -->
            </div>
            <!-- END User -->

            <!-- Timeline -->
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline-container top-circle">
                        <section class="timeline">

                          <!-- timeline-block -->
                          <div class="timeline-block" *ngFor="let l of logs">
                            <div class="timeline-point" [class.complete]="l.icon == 'ticket-icon'"
                                 [class.info]="l.icon == 'note-icon'" [class.primary]="l.icon == 'event-icon'"
                                 [class.primary]="l.icon == 'newsletter-icon'" [class.primary]="l.icon == 'quiz-icon'"
                                 [class.primary]="l.icon == 'rrss-icon'" [class.primary]="l.icon == 'search-icon'"
                                 [class.primary]="l.icon == 'level-icon'" [class.primary]="l.icon == 'profile-icon'"
                                 [class.primary]="l.icon == 'email-icon'">
                              <i *ngIf="l.icon == 'ticket-icon'" class="fa fa-ticket"></i>
                              <i *ngIf="l.icon == 'note-icon'" class="fa fa-file-text-o"></i>
                              <i *ngIf="l.icon == 'event-icon'" class="fa fa-calendar"></i>
                              <i *ngIf="l.icon == 'newsletter-icon'" class="fa fa-calendar"></i>
                              <i *ngIf="l.icon == 'quiz-icon'" class="fa fa-calendar"></i>
                              <i *ngIf="l.icon == 'rrss-icon'" class="fa fa-calendar"></i>
                              <i *ngIf="l.icon == 'search-icon'" class="fa fa-calendar"></i>
                              <i *ngIf="l.icon == 'level-icon'" class="fa fa-calendar"></i>
                              <i *ngIf="l.icon == 'profile-icon'" class="fa fa-calendar"></i>
                              <i *ngIf="l.icon == 'email-icon'" class="fa fa-calendar"></i>

                            </div>
                            <!-- timeline-point -->
                            <div class="timeline-content">
                              <div class="card share full-width">
                                <div class="card-header clearfix">
                                  <h5>{{l.subject}}</h5>
                                  <h6>
                                    <span class="location semi-bold"><i class="fa fa-map-marker"></i> {{l.description}}</span>
                                  </h6>
                                </div>
                              </div>
                              <div class="event-date">
                                <h6 class="font-montserrat all-caps hint-text m-t-0">{{l.logtype_description}}</h6>
                                <small class="fs-12 hint-text">{{l.date}}</small>
                              </div>
                            </div>
                            <!-- timeline-content -->
                          </div>
                          <!-- END timeline-block -->
                        </section>
                        <!-- timeline -->
                    </div>
                    <!-- -->
                </div>
            </div>
            <!-- END Timeline -->
        </div>

    </div>
</div>
