<!-- START PANEL -->
<div class="panel panel-default">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-primary nav-tabs-fillup">
        <li class="active">
            <a data-toggle="tab" href="#campaign" (click)="changeActive()"><span>Activos</span></a>
        </li>
        <li>
            <a data-toggle="tab" href="#accomplished" (click)="changeCompleted()"><span>Realizados</span></a>
        </li>
        <li>
            <a data-toggle="tab" href="#canceled" (click)="changeCanceled()"><span>Cancelados</span></a>
        </li>
    </ul>
    <!-- END Nav tabs -->
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Tab Campaign -->
        <div class="slide-left" id="campaign" [ngClass]="{'active': activeTab == 'active'}" [hidden]="activeTab != 'active'">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="panel-title">Eventos Activos

                            </div>
                            <div class="tools pull-right">
                                <button type="button"
                                        class="btn btn-primary btn-cons btn-animated from-top pg pg-arrow_down"
                                        data-toggle="modal"
                                        data-target="">
                                    <span>Añadir nuevo</span>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="modal-title">Filtrar por: </p>
                                    <ul class="list-inline">
                                        <li>
                                            <div class="form-group form-group-default form-group-default-select2">
                                                <ng-select
                                                        [allowClear]="true"
                                                        [options]="cinemas"
                                                        [(ngModel)]="activeCinemaSelected"
                                                        name="cinemas"
                                                        placeholder="Cine">
                                                </ng-select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group form-group-default">
                                                <button type="button"
                                                        class="btn btn-primary btn-cons from-top"
                                                        (click)="filterActives()">
                                                    <span>Filtrar</span>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Película</th>
                                        <th>Cine</th>
                                        <th>Ciudad</th>
                                        <th>Promotor</th>
                                        <th width="15%">Crowdfunding</th>
                                        <th width="15%">Ventas</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let e of activeEvents">
                                        <td class="v-align-middle">
                                            <p>{{e.id}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="event-date">{{e.date}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{e.hour}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{e.movie_title}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{e.cinema_name}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{e.city_name}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{e.promoter_name+" "+e.promoter_surnames}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="small hint-text">Fecha máx. {{e.limit_crowdfunding}}</p>

                                            <div class="progress">
                                                <div class="progress-bar" [ngClass]="{'progress-bar-danger': e.crowdfunding_qty/e.crowdfunding_target <= 0.3,
                                                        'progress-bar-warning': e.crowdfunding_qty/e.crowdfunding_target > 0.3 && e.crowdfunding_qty/e.crowdfunding_target <= 0.6,
                                                        'progress-bar-success': e.crowdfunding_qty/e.crowdfunding_target > 0.6}"
                                                     role="progressbar" [style.width]="(e.crowdfunding_qty/e.crowdfunding_target)*100 + '%'" [attr.aria-valuenow]="(e.crowdfunding_qty/e.crowdfunding_target)*100"
                                                     aria-valuemin="0" [attr.aria-valuemax]="e.crowdfunding_target">{{e.crowdfunding_qty}}/{{e.crowdfunding_target}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="small hint-text">Fecha máx. {{e.limit_orders}}</p>

                                            <div class="progress">
                                                <div class="progress-bar" [ngClass]="{'progress-bar-danger': e.tickets_qty/e.tickets_target <= 0.3,
                                                        'progress-bar-warning': e.tickets_qty/e.tickets_target > 0.3 && e.tickets_qty/e.tickets_target <= 0.6,
                                                        'progress-bar-success': e.tickets_qty/e.tickets_target > 0.6}"
                                                     role="progressbar" [style.width]="(e.tickets_qty/e.tickets_target)*100 + '%'" [attr.aria-valuenow]="(e.tickets_qty/e.tickets_target)*100"
                                                     aria-valuemin="0" [attr.aria-valuemax]="e.tickets_target">{{e.tickets_qty}}/{{e.tickets_target}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">
                                            <div class="btn-group btn-group-sm sm-m-t-10">
                                                <button type="button" class="btn btn-default" title="Editar"
                                                        data-toggle="modal"
                                                        data-target="#addCinema"><i class="fa fa-pencil"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" title="Ver detalles" data-toggle="modal" data-target="#sales"><i
                                                        class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Tab Campaign -->
        <!-- Tab Completed -->
        <div class="slide-left" [ngClass]="{'active': activeTab == 'completed'}" id="completed" [hidden]="activeTab != 'completed'">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="panel-title">Eventos Completados

                            </div>
                            <div class="tools pull-right">
                                <button type="button"
                                        class="btn btn-primary btn-cons btn-animated from-top pg pg-arrow_down"
                                        data-toggle="modal"
                                        data-target="">
                                    <span>Añadir nuevo</span>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="modal-title">Filtrar por: </p>
                                    <ul class="list-inline">
                                        <li>
                                            <div class="form-group form-group-default form-group-default-select2">
                                                <ng-select
                                                        [allowClear]="true"
                                                        [options]="cinemas"
                                                        [(ngModel)]="completedCinemaSelected"
                                                        name="cinemas"
                                                        placeholder="Cine">
                                                </ng-select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group form-group-default">
                                                <button type="button"
                                                        class="btn btn-primary btn-cons from-top"
                                                        (click)="filterCompleted()">
                                                    <span>Filtrar</span>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Película</th>
                                        <th>Cine</th>
                                        <th>Ciudad</th>
                                        <th>Promotor</th>
                                        <th width="15%">Crowdfunding</th>
                                        <th width="15%">Ventas</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let ev of completedEvents">
                                        <td class="v-align-middle">
                                            <p>{{ev.id}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="event-date">{{ev.date}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{ev.hour}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{ev.movie_title}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{ev.cinema_name}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{ev.city_name}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{ev.promoter_name+" "+ev.promoter_surnames}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="small hint-text">Fecha máx. {{ev.limit_crowdfunding}}</p>

                                            <div class="progress">
                                                <div class="progress-bar" [ngClass]="{'progress-bar-danger': ev.crowdfunding_qty/ev.crowdfunding_target <= 0.3,
                                                        'progress-bar-warning': ev.crowdfunding_qty/ev.crowdfunding_target > 0.3 && ev.crowdfunding_qty/ev.crowdfunding_target <= 0.6,
                                                        'progress-bar-success': ev.crowdfunding_qty/ev.crowdfunding_target > 0.6}"
                                                     role="progressbar" [style.width]="(ev.crowdfunding_qty/ev.crowdfunding_target)*100 + '%'" [attr.aria-valuenow]="(ev.crowdfunding_qty/ev.crowdfunding_target)*100"
                                                     aria-valuemin="0" [attr.aria-valuemax]="ev.crowdfunding_target">{{ev.crowdfunding_qty}}/{{ev.crowdfunding_target}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="small hint-text">Fecha máx. {{ev.limit_orders}}</p>

                                            <div class="progress">
                                                <div [ngClass]="{'progress-bar-danger': ev.tickets_qty/ev.tickets_target <= 0.3,
                                                        'progress-bar-warning': ev.tickets_qty/ev.tickets_target > 0.3 && ev.tickets_qty/ev.tickets_target <= 0.6,
                                                        'progress-bar-success': ev.tickets_qty/ev.tickets_target > 0.6}"
                                                     role="progressbar" [style.width]="(ev.tickets_qty/ev.tickets_target)*100 + '%'" [attr.aria-valuenow]="(ev.tickets_qty/ev.tickets_target)*100"
                                                     aria-valuemin="0" [attr.aria-valuemax]="ev.tickets_target">{{ev.tickets_qty}}/{{ev.tickets_target}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">
                                            <div class="btn-group btn-group-sm sm-m-t-10">
                                                <button type="button" class="btn btn-default" title="Editar"
                                                        data-toggle="modal"
                                                        data-target="#addCinema"><i class="fa fa-pencil"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" title="Ver detalles" data-toggle="modal" data-target="#sales"><i
                                                        class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Tab Campaign -->
        <!-- Tab Canceled -->
        <div class="slide-left" [ngClass]="{'active': activeTab == 'canceled'}" id="canceled" [hidden]="activeTab != 'canceled'">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="panel-title">Eventos Cancelados

                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="filters" class="row">
                                <div class="col-md-12">
                                    <p class="modal-title">Filtrar por: </p>
                                    <ul class="list-inline">
                                        <li>
                                            <div class="form-group form-group-default form-group-default-select2">
                                                <ng-select
                                                        [allowClear]="true"
                                                        [options]="cinemas"
                                                        [(ngModel)]="canceledCinemaSelected"
                                                        name="cinemas"
                                                        placeholder="Cine">
                                                </ng-select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group form-group-default">
                                                <button type="button"
                                                        class="btn btn-primary btn-cons from-top"
                                                        (click)="filterCanceled()">
                                                    <span>Filtrar</span>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Película</th>
                                        <th>Cine</th>
                                        <th>Ciudad</th>
                                        <th>Promotor</th>
                                        <th width="15%">Crowdfunding</th>
                                        <th width="15%">Ventas</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let evn of canceledEvents">
                                        <td class="v-align-middle">
                                            <p>{{evn.id}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="event-date">{{evn.date}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{evn.hour}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{evn.movie_title}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{evn.cinema_name}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{evn.city_name}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p>{{evn.promoter_name+" "+evn.promoter_surnames}}</p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="small hint-text">Fecha máx. {{evn.limit_crowdfunding}}</p>

                                            <div class="progress">
                                                <div class="progress-bar" [ngClass]="{'progress-bar-danger': evn.crowdfunding_qty/evn.crowdfunding_target <= 0.3,
                                                        'progress-bar-warning': evn.crowdfunding_qty/evn.crowdfunding_target > 0.3 && evn.crowdfunding_qty/evn.crowdfunding_target <= 0.6,
                                                        'progress-bar-success': evn.crowdfunding_qty/evn.crowdfunding_target > 0.6}"
                                                     role="progressbar" [style.width]="(evn.crowdfunding_qty/evn.crowdfunding_target)*100 + '%'" [attr.aria-valuenow]="(evn.crowdfunding_qty/evn.crowdfunding_target)*100"
                                                     aria-valuemin="0" [attr.aria-valuemax]="evn.crowdfunding_target">{{evn.crowdfunding_qty}}/{{evn.crowdfunding_target}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">
                                            <p class="small hint-text">Fecha máx. {{evn.limit_orders}}</p>

                                            <div class="progress">
                                                <div class="progress-bar" [ngClass]="{'progress-bar-danger': evn.tickets_qty/evn.tickets_target <= 0.3,
                                                        'progress-bar-warning': evn.tickets_qty/evn.tickets_target > 0.3 && evn.tickets_qty/evn.tickets_target <= 0.6,
                                                        'progress-bar-success': evn.tickets_qty/evn.tickets_target > 0.6}"
                                                     role="progressbar" [style.width]="(evn.tickets_qty/evn.tickets_target)*100 + '%'" [attr.aria-valuenow]="(evn.tickets_qty/evn.tickets_target)*100"
                                                     aria-valuemin="0" [attr.aria-valuemax]="evn.tickets_target">{{evn.tickets_qty}}/{{evn.tickets_target}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">
                                            <div class="btn-group btn-group-sm sm-m-t-10">
                                                <button type="button" class="btn btn-default" title="Editar"
                                                        data-toggle="modal"
                                                        data-target="#addCinema"><i class="fa fa-pencil"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" title="Ver detalles" data-toggle="modal" data-target="#sales"><i
                                                        class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Tab Campaign -->
    </div>
    <!-- END Tab panes -->
</div>


<!-- Modal New/Edit Company -->
<div class="modal fade slide-up disable-scroll" id="sales" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                </div>
                <div class="modal-body m-t-20">


                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="2%">ID</th>
                                <th>Fecha</th>
                                <th>Nº Transacción</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Comprador</th>
                                <th>Ver entradas</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="v-align-middle">
                                    <p>02</p>
                                </td>
                                <td class="v-align-middle">
                                    <p class="event-date">24/04/17</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>123456</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>3</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>18€</p>
                                </td>
                                <td class="v-align-middle">
                                    <span class="label label-inverse">Completado</span>
                                </td>
                                <td class="v-align-middle">
                                    <a href="javascript:;">Ángel Olmedo</a>
                                </td>
                                <td class="v-align-middle">
                                    <div class="btn-group btn-group-sm sm-m-t-10">
                                        <button type="button" class="btn btn-default" title="Ver Entradas"><i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END Modal New/Edit Company -->
