<div class="profile-page">
  <div class="header header-filter parallax-fix" id="slider"
       style="background-image: url('../../assets/img/theaters/cinema.jpg');">
  </div>

  <div class="main main-raised">
    <div class="dashboard-content">
      <ul class="list-inline links">
        <li>
          <a href="javascript:;"><i class="icon-152"></i><br>Mis intereses</a>
        </li>
        <li>
          <a href="javascript:;"><i class="icon-246"></i><br>Mis entradas</a>
        </li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="profile">
            <div class="avatar">
              <a href="javascript:;"><img src="../../assets/img/profiles/avatar2x.jpg" alt="Circle Image"
                                          class="img-circle img-responsive img-raised" rel="tooltip"
                                          title="Configuración de tu cuenta"
                                          data-placement="bottom"></a>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-3 col-xs-12">

            <div class="card card-badge">
              <div class="header header-primary text-center">
                <img src="../../assets/img/badges.svg" class="img-responsive">
              </div>
              <p class="text-divider">320 puntos<br>
                <small>Nivel Pro</small>
              </p>
              <div class="content">


              </div>
              <div class="footer text-center">
                <a href="javascript:;">¿Cómo conseguir puntos YF?</a>
              </div>
            </div>

            <div class="card card-badge no-margin-bottom">
              <div class="header header-yf text-center">
                Intereses
              </div>
              <div class="content">
                <span class="label label-inverse">Fútbol</span>
                <span class="label label-inverse">Comedia</span>
                <span class="label label-inverse">Deportes</span>
              </div>
              <div class="footer text-center">
                <div class="progress progress-line-primary">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                       aria-valuemax="100" style="width: 30%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <a href="javascript:;">Completa tu perfil y gana recompensas</a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 share">
                <span class="no-margin-bottom">¡Díselo a tus amigos! #cinecracia</span>
                <ul class="list-inline">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-facebook-square facebook"></i>
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li>
                    <a class="twitter-share-button"
                       href="https://twitter.com/share"
                       data-size="large"
                       data-text="Comparte comparte comparte comparte"
                       data-hashtags="#cinecracia"
                       data-via="twitterdev"
                       data-related="twitterapi,twitter">
                      <i class="fa fa-twitter twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-google-plus google"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-instagram instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-md-9 col-xs-12">

            <div class="card card-badge no-margin-bottom">
              <div class="header header-yf text-center">
                What´s on!!
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-md-12 title">
                    <span class="pull-left">Eventos en mi ciudad</span>
                  </div>
                </div>
                <div class="row">
                  <div id="dash-slider" class="owl-carousel owl-theme dark-pagination col-md-12">
                    <div class="item">
                      <eventCard></eventCard>
                    </div>
                    <div class="item">
                      <eventCard></eventCard>
                    </div>
                    <div class="item">
                      <eventCard></eventCard>
                    </div>
                    <div class="item">
                      <eventCard></eventCard>
                    </div>
                    <div class="item">
                      <eventCard></eventCard>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 title">
                    <span class="pull-left">Nuevas Películas en el Catálogo</span>
                  </div>
                </div>

                <div class="row last-films">
                  <div class="col-md-3">
                    <a href="javascript:;"><img class="img-rounded img-responsive"
                                                src="http://www.youfeelm.com/wp-content/uploads/IRA-poster.jpg"
                                                alt=""></a>
                  </div>
                  <div class="col-md-3">
                    <a href="javascript:;"><img class="img-rounded img-responsive"
                                                src="http://www.youfeelm.com/wp-content/uploads/Dirty-Dancing-510x707.jpg"
                                                alt=""></a>
                  </div>
                  <div class="col-md-3">
                    <a href="javascript:;"><img class="img-rounded img-responsive"
                                                src="http://www.youfeelm.com/wp-content/uploads/IRA-poster.jpg"
                                                alt=""></a>
                  </div>
                  <div class="col-md-3">
                    <a href="javascript:;"><img class="img-rounded img-responsive"
                                                src="http://www.youfeelm.com/wp-content/uploads/Dirty-Dancing-510x707.jpg "
                                                alt=""></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>
