<!-- modal login -->
  <div id="modal-login" class="white-popup-block mfp-hide col-lg-3 col-md-6 col-sm-7 col-xs-11 center-col bg-white text-center modal-popup-main">
    <span class="slider-subtitle5 black-text">Login</span>
    <div class="row">
        <div class="col-md-12">
            <form #modalLoginForm="ngForm" role="form" action="" novalidate>
                <!-- input -->
                <input type="text" [(ngModel)]="login.email" #loginEmail="ngModel" name="email" placeholder="Email" required>
                <p [hidden]="loginEmail.valid || sendLogin == false" color="danger" padding-left>
                    Es obligatorio introducir el email
                </p>
                <!-- end input -->
                <!-- input  -->
                <input type="password" [(ngModel)]="login.password" #loginPassword="ngModel" name="password" placeholder="Contraseña" required>
                <p [hidden]="loginPassword.valid || sendLogin == false" color="danger" padding-left>
                    Es obligatorio introducir la contraseña
                </p>
                <!-- end input -->
            </form>
        </div>
        <div class="col-md-12">
            <p>¿Has olvidado tu contraseña? <a href="#modal-forgot" class="modal-popup">Recuperar contraseña</a></p>
        </div>
        <div class="col-md-12">
            <button type="submit" [disabled]="!modalLoginForm.valid" (click)="onLogin(modalLoginForm)" class="highlight-button btn btn-medium button popup-modal-dismiss no-margin">Inicia sesión</button>
        </div>
        <div class="col-md-12 form-register">
            <p>¿Aún no estás registrado? <a href="#modal-register" class="modal-popup">Regístrate</a></p>
        </div>
    </div>
  </div>


    <!-- modal forgot -->
    <div id="modal-forgot" class="white-popup-block mfp-hide col-lg-3 col-md-6 col-sm-7 col-xs-11 center-col bg-white text-center modal-popup-main">
        <span class="slider-subtitle5 black-text">Recuperar contraseña</span>
        <div class="row">
            <div class="col-md-12">
                <form #passRecoveryForm="ngForm" role="form" action="" novalidate>
                    <!-- input -->
                    <input type="email" [(ngModel)]="email.email" #emailRecovery="ngModel" name="email" class="form-control" placeholder="Email" required>
                    <!-- end input -->
                    <p [hidden]="emailRecovery.valid || sendRecovery == false" color="danger" padding-left>
                        Es obligatorio introducir el email
                    </p>
                </form>
            </div>
            <div class="col-md-12">
                <button type="submit" class="highlight-button btn btn-medium button popup-modal-dismiss no-margin" (click)="onPasswordRecovery(passRecoveryForm)">Enviar nueva contraseña</button>
            </div>
        </div>
    </div>

<!-- end modal login -->
