
<div class="singleCinemaPage" id="login">
  <div class="header header-filter parallax-fix" id="slider"
       style="background-image: url('../../assets/img/theaters/login.jpg'); background-size:cover">
  </div>
  <div class="main main-raised">
    <div class="dashboard-content">
      <div class="container text-center">
        <div class="col-md-12 text-center">
          <h3 class="section-title no-padding">{{'RESET.TITLE'| translate}}</h3>
        </div>
        <div class="row margin-top-section">

            <!-- START Login Form -->
            <form #resetForm="ngForm" role="form" action="" novalidate>
              <!-- START Form Control-->
              <div class="row">
                <div class="row">
                  <div class="col-md-4 col-centered" >
                    <div aria-required="true">
                      <label>{{'RESET.EMAIL'| translate}}</label>
                      <div class="form-group form-group-default">
                        <input type="text" [(ngModel)]="reset.email" #email="ngModel" name="email" placeholder="{{'RESET.EMAIL'| translate}}" class="form-control" required>
                        <p [hidden]="email.valid || send == false" color="danger" padding-left>
                          {{'RESET.EMAIL-ERROR'| translate}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              <!-- END Form Control-->
              <!-- START Form Control-->


                <div class="row">
                  <div class="col-md-4 col-centered">
                    <div aria-required="true">
                      <label>{{'RESET.PASSWORD'| translate}}</label>
                      <div class="form-group form-group-default">
                        <input type="password" [(ngModel)]="reset.password" #password="ngModel" class="form-control" name="password" placeholder="{{'RESET.PASSWORD'| translate}}" required>
                        <p [hidden]="password.valid || send == false" color="danger" padding-left>
                          {{'RESET.PASSWORD-ERROR'| translate}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-centered">
                    <div aria-required="true">
                      <label>{{'RESET.CONFIRM-PASSWORD'| translate}}</label>
                      <div class="form-group form-group-default">
                        <input type="password" [(ngModel)]="reset.password_confirmation" #confirmPassword="ngModel" class="form-control" name="confirmPassword" placeholder="{{'RESET.CONFIRM-PASSWORD'| translate}}" required>
                        <p [hidden]="confirmPassword.valid || send == false" color="danger" padding-left>
                          {{'RESET.CONFIRM-PASSWORD-ERROR'| translate}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

              <button class="btn btn-primary btn-cons m-t-10" type="submit" (click)="resetPass(resetForm)">Sign in</button>
            </form>
            <!-- END Form Control-->

        </div>
      </div>
    </div>
  </div>
</div>
