<div class="index">
  <div class="header header-filter">
    <div class="revolution-slider-half">
      <ul>
        <!-- slide 1 -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
            data-thumb="../../assets/img/sliders/slide_01.jpg" data-saveperformance="off" data-title="Slide" class="parallax-fix">
          <!-- MAIN IMAGE -->
          <img src="../../assets/img/sliders/slide_01.jpg" alt="fullslide1" data-bgposition="center top"
               data-bgfit="cover" data-bgrepeat="no-repeat">

          <div class="slider-overlay bg-black"></div>
          <!-- layers 1 -->
          <div class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme" data-x="center"
               data-hoffset="0" data-y="center" data-voffset="-50" data-speed="600" data-start="800"
               data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
               data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power4.easeIn"
               style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">{{ 'SLIDE.LAYER1' | translate }}
          </div>
          <!-- layers 2 -->
          <div class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme" data-x="center" data-hoffset="0"
               data-y="center" data-voffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut"
               data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
               data-endspeed="500" data-endeasing="Power4.easeIn"
               style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">{{ 'SLIDE.LAYER1' | translate }}
          </div>
          <!-- layers 3 -->
          <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="0"
               data-y="center" data-voffset="80"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500" data-start="1200" data-easing="Power3.easeInOut" data-splitin="none"
               data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next"
               style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <button class='btn btn-primary'>{{ 'SLIDE.LAYER2' | translate }}</button>
          </div>
        </li>

        <!-- slide 2 -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
            data-thumb="../../assets/img/sliders/slide_02.jpg" data-saveperformance="off" data-title="Slide" class="parallax-fix">
          <!-- MAIN IMAGE -->
          <img src="../../assets/img/sliders/slide_02.jpg" alt="fullslide1" data-bgposition="center top"
               data-bgfit="cover" data-bgrepeat="no-repeat">

          <div class="slider-overlay bg-black"></div>
          <!-- layers 1 -->
          <div class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme" data-x="center"
               data-hoffset="0" data-y="center" data-voffset="-50" data-speed="600" data-start="800"
               data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
               data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power4.easeIn"
               style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">¿Eres una casa de acogida?
          </div>
          <!-- layers 2 -->
          <div class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme" data-x="center" data-hoffset="0"
               data-y="center" data-voffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut"
               data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
               data-endspeed="500" data-endeasing="Power4.easeIn"
               style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">¿Quieres aparecer aquí?
          </div>
          <!-- layers 3 -->
          <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="0"
               data-y="center" data-voffset="80"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500" data-start="1200" data-easing="Power3.easeInOut" data-splitin="none"
               data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next"
               style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <button class='btn btn-primary'>¡Date de alta!</button>
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer"></div>
    </div>


  </div>


  <div class="main main-raised">

    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <div class="col-md-12 title no-padding">
            <span class="pull-left">Elige la provincia de búsqueda</span>
            <a href="javascript:;" class='btn btn-primary pull-right'>Ver todos</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="map">
          <div id="film-slider" class="owl-carousel owl-theme dark-pagination">
            <div class="item col-md-12">
              <eventCard></eventCard>
            </div>
            <div class="item col-md-12">
              <eventCard></eventCard>
            </div>
            <div class="item col-md-12">
              <eventCard></eventCard>
            </div>
            <div class="item col-md-12">
              <eventCard></eventCard>
            </div>
            <div class="item col-md-12">
              <eventCard></eventCard>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-basic bg-gray">
      <div class="container">
        <div class="col-md-12 title no-padding">
          <span class="pull-left">Películas</span>
          <a href="javascript:;" class='btn btn-primary pull-right'>Ver todos</a>
        </div>

        <div class="row">
          <div *ngFor="let m of movies" class="col-md-3">
            <filmCard [movie]="m"></filmCard>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

