<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Tabla
        </div>
        <div class="btn-group pull-right m-b-10">

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <div id="basicTable_wrapper" class="dataTables_wrapper form-inline no-footer">
                <table class="table table-hover dataTable no-footer" id="basicTable" role="grid">
                    <thead>
                    <tr role="row">
                        <th>
                        </th>
                        <th>
                            Título 1
                        </th>
                        <th>
                            Título 2
                        </th>
                        <th>
                            Título 3
                        </th>
                        <th>
                            Título 4
                        </th>
                        <th>
                            Título 5
                        </th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr role="row" class="odd">
                        <td class="v-align-middle">
                            <div class="checkbox ">
                                <input type="checkbox" value="3" id="checkbox4">
                                <label for="checkbox4"></label>
                            </div>
                        </td>
                        <td class="v-align-middle sorting_1">
                            <p>Lorem ipsum</p>
                        </td>
                        <td class="v-align-middle">
                            <p>dolor sit amet</p>
                        </td>
                        <td class="v-align-middle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </td>
                        <td class="v-align-middle">
                            <p>mie. 18 ENERO</p>
                        </td>
                        <td class="v-align-middle">
                            <p>Evento</p>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="v-align-middle">
                            <div class="checkbox ">
                                <input type="checkbox" value="3" id="checkbox4">
                                <label for="checkbox4"></label>
                            </div>
                        </td>
                        <td class="v-align-middle sorting_1">
                            <p>Lorem ipsum</p>
                        </td>
                        <td class="v-align-middle">
                            <p>dolor sit amet</p>
                        </td>
                        <td class="v-align-middle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </td>
                        <td class="v-align-middle">
                            <p>mie. 18 ENERO</p>
                        </td>
                        <td class="v-align-middle">
                            <p>Evento</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>