<!-- head section -->
<section class="page-title parallax6 parallax-fix page-title-large no-padding">
  <img class="parallax-background-img" src="../../assets/img/theaters/cinema.jpg" alt=""/>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-8 col-sm-12 text-center  wow fadeInRight animated">
        <h1 class="blog-details-headline white-text ">Abella Cines</h1>
      </div>
    </div>
  </div>
</section>
<!-- end head section -->

<section id="single-film" class="wow fadeIn animated padding-four">
  <!-- content  -->
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-xs-12 wow fadeInLeft animated">
        <h4 class="text-uppercase margin-bottom-three">Descripción</h4>
        <!-- Description -->
        <div class="blog-details-text">
          <p>Ubicado a poca distancia de la ciudad, el centro comercial Abella cuenta con ocho salas
            cinematográficas habilitadas con la última tecnología. Además, ofrece a los lucenses una variada
            y heterogénea cartelera para un mayor disfrute de la experiencia de ir al cine.</p>
        </div>
        <!-- END Description -->
        <!-- Cinema Data -->
        <div class="row margin-bottom-seven">
          <div class="col-md-12">
            <ul>
              <li>
                <div class="text-black text-uppercase">Dirección <span class="event-details">Centro Comercial Abella - Calle Orquídea 22 - 24</span>
                </div>
              </li>
              <li>
                <div class="text-black text-uppercase">Localidad <span class="event-details">Lugo</span></div>
              </li>
              <li>
                <div class="text-black text-uppercase">Provincia <span class="event-details"><a
                  href="javascript:;">Lugo</a></span>
                </div>
              </li>
              <li>
                <div class="text-black text-uppercase">Web
                  <span class="event-details"><a
                    href="http://www.abellacines.com/">www.abellacines.com
                                    </a></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- END Cinema Data -->

        <!-- social icon -->
        <div class="col-md-8 col-sm-9 product-details-social no-padding">
          <!-- social media sharing -->
          <h6 class="black-text text-uppercase text-small vertical-align-middle margin-right-five">¡Comparte y difunde
            la #cinecracia!</h6>
          <a href="javascript" class="btn social-icon button" target="_blank"><i
            class="fa fa-facebook btn-round"></i></a>
          <a href="javascript" class="btn social-icon button" target="_blank"><i
            class="fa fa-twitter btn-round"></i></a>
          <a href="javascript" class="btn social-icon button" target="_blank"><i
            class="fa fa-google-plus btn-round"></i></a>
          <a href="javascript" class="btn social-icon button" target="_blank"><i
            class="fa fa-linkedin btn-round"></i></a>
          <!-- end social media sharing -->
        </div>
        <!-- end social icon -->
      </div>


      <div class="col-md-8 col-xs-12 xs-margin-top-ten wow fadeInUp animated">


        <!-- Events -->
        <div class="row margin-bottom-three">
          <div class="col-md-12">
            <!-- section title -->
            <h4 class="text-uppercase">Eventos en marcha</h4>
            <!-- end section title -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row margin-bottom-three">
              <!-- Films items -->
              <div class="col-md-4 col-sm-12 margin-bottom-three">
                <eventCard></eventCard>
              </div>
              <!-- end Events items -->
              <!-- Events items -->
              <div class="col-md-4 col-sm-12 margin-bottom-three">
                <eventCard></eventCard>
              </div>
              <!-- end Events items -->
              <!-- Events items -->
              <div class="col-md-4 col-sm-12 margin-bottom-three">
                <eventCard></eventCard>
              </div>
              <!-- end Events items -->
            </div>
          </div>
        </div>
        <!-- END Events -->
        <!-- CTA -->
        <div class="row">
          <div class="col-md-12">
              <button class="highlight-button-orange button pull-left" type="button">Crea un evento</button>
              <a href="javascript:;" class="bold pull-right"><i class="icon-247"></i> Consulta el histórico de eventos</a>
          </div>
        </div>
        <!-- END CTA -->
      </div>
    </div>
  </div>
  <!-- end content  -->
</section>
