<!-- START PANEL -->
<div class="padding-30 sm-no-padding xs-no-padding">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Encuestas

            </div>
            <div class="tools pull-right">

            </div>
        </div>
        <div class="panel-body">
            <div id="filters" class="row">
                <div class="col-md-12">
                    <p class="modal-title">Filtrar por: </p>
                    <ul class="list-inline">
                        <li>
                            <div class="form-group form-group-default">
                                <label>Fecha</label>
                                <div class="input-daterange input-group" id="datepicker-range">
                                    <input type="text" class="input-sm form-control" name="start"/>
                                    <span class="input-group-addon">a</span>
                                    <input type="text" class="input-sm form-control" name="end"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group form-group-default form-group-default-select2">
                                <label class="">Película</label>
                                <select class="full-width select2" data-init-plugin="select2">
                                    <option>Peli 2</option>
                                    <option>Peli 1</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th>Fecha</th>
                        <th>Película</th>
                        <th>Evento</th>
                        <th>Participantes</th>
                        <th>Valoración</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="v-align-middle">
                            <p>01</p>
                        </td>
                        <td class="v-align-middle">
                            <p class="event-date">19/04/17</p>
                        </td>
                        <td class="v-align-middle">
                            <p>Napoleon Dynamite</p>
                        </td>
                        <td class="v-align-middle">
                            <p>Napoleón Avenida V.O. Sevilla</p>
                        </td>
                        <td class="v-align-middle">
                            <p>2/10</p>
                        </td>
                        <td class="v-align-middle">
                            <p>5/5</p>
                        </td>
                        <td class="v-align-middle">
                            <div class="btn-group btn-group-sm sm-m-t-10">
                                <button type="button" class="btn btn-default" title="Ver detalles"
                                        data-toggle="modal" data-target="#sales"><i
                                        class="fa fa-eye"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END PANEL -->