<section id="eventCreate" class="wow fadeIn animated bg-gray">
    <!-- content  -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 margin-bottom">
                <div class="text-center"><h3 class="black-text">FAQ's</h3></div>
            </div>

            <div class="col-md-8 col-md-offset-2 col-sm-12 bg-white padding-four">
                <div class="panel-group toggles-style3 no-border">
                    <!-- faq item -->
                    <div class="panel panel-default" id="collapse-three">
                        <div role="tablist" id="type2-headingOne" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link1"
                               class="collapsed"><h4 class="panel-title">Lorem Ipsum<span
                                    class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                        </div>
                        <div id="collapse-three-link1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                    </div>
                    <!-- end faq item -->
                    <!-- faq item -->
                    <div class="panel panel-default">
                        <div role="tablist" id="type2-headingTwo" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link2"
                               class="collapsed"><h4 class="panel-title">Lorem Ipsum<span
                                    class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                        </div>
                        <div id="collapse-three-link2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                    </div>
                    <!-- end faq item -->
                </div>
            </div>

        </div>
    </div>
</section>