<!-- START PANEL -->
<div class="padding-30 sm-no-padding xs-no-padding">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Edición de perfil
            </div>
            <div class="tools pull-right">

            </div>
        </div>
        <div class="panel-body">

            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->

                        <div class="">
                            <div class="overlay gallery-hover">
                                <a href="#" data-toggle="modal" data-target="#cambiarImagen">
                                    <i class="fa fa-pencil"></i>
                                    <img *ngIf="user.profile_img_url" [src]="user.profile_img_url"
                                         class="img-responsive" alt="">
                                    <img *ngIf="!user.profile_img_url" src="../assets/img/profiles/avatar2x.jpg"
                                         class="img-responsive" alt="">
                                </a>
                            </div>
                        </div>

                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="font-heading">
                                <span class="bold">{{user.name}}</span> <span
                                    class="text-master">{{user.surnames}}</span>
                            </div>
                            <div class="profile-usertitle-job">
                                {{profile}}
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-content">

                        <form #editProfile="ngForm" role="form" action="" novalidate autocomplete="off">
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group form-group-default" aria-required="true">
                                        <label>Nombre</label>
                                        <input type="text" [(ngModel)]="user.name" #name="ngModel" class="form-control"
                                               name="nombre" required=""
                                               aria-required="true" value="{{user.name}}">
                                        <p [hidden]="name.valid || sendUpdateProfile == false" color="danger"
                                           padding-left>
                                            Es obligatorio introducir tu nombre
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-default">
                                        <label>Apellidos</label>
                                        <input type="text" [(ngModel)]="user.surnames" #surnames="ngModel"
                                               class="form-control" name="apellidos" required=""
                                               aria-required="true" value="{{user.surnames}}">
                                        <p [hidden]="surnames.valid || sendUpdateProfile == false" color="danger"
                                           padding-left>
                                            Es obligatorio introducir tus apellidos
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-default">
                                        <label>Usuario</label>
                                        <input type="text" [(ngModel)]="user.username" #username="ngModel"
                                               class="form-control" name="usuario" required=""
                                               aria-required="true" value="{{user.username}}">
                                        <p [hidden]="username.valid || sendUpdateProfile == false" color="danger"
                                           padding-left>
                                            Es obligatorio introducir tu nombre de usuario
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                        <label>Email</label>
                                        <input type="email" [(ngModel)]="user.email" #email="ngModel"
                                               class="form-control" name="email"
                                               value="{{user.email}}" required=""
                                               aria-required="true">
                                        <p [hidden]="email.valid || sendUpdateProfile == false" color="danger"
                                           padding-left>
                                            Es obligatorio introducir tu email
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                        <label>Cambiar contraseña</label>
                                        <input type="password" class="form-control" name="password"
                                               placeholder="******" required="" aria-required="true">
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <button class="btn btn-primary" type="submit" (click)="onUpdateProfile(editProfile)">
                                Guardar
                            </button>
                        </form>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 pull-left" *ngIf="user.admin === 1">
                                <a href="#" class="pull-right" data-toggle="modal" data-target="#changeCS">Regenerar token CS</a>
                            </div>
                            <div class="col-md-6 pull-right">
                                <a href="#" class="pull-right" data-toggle="modal" data-target="#changePw">Cambiar
                                    contraseña</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PANEL -->

<!-- Modal Cambiar imagen -->
<div class="modal fade slide-up disable-scroll" id="cambiarImagen" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="pg-close fs-14"></i>
                    </button>
                </div>
                <div class="modal-body text-center m-t-20">

                    <form #form="ngForm" role="form"
                          action="http://localhost:80/youfeelmws/public/api/user/profile/updateProfileImage"
                          class="dropzone no-margin">
                        <div class="fallback">
                            <input name="file" type="file"/>
                        </div>
                    </form>

                    <form #imageForm="ngForm">
                        <input [hidden]="true" id="imageDropzone" #image name="img" type="text" required>
                    </form>

                    <button [disabled]="!imageForm.form.valid" (click)="onFileUpload(image)" type="submit"
                            class="btn btn-primary btn-cons" data-dismiss="modal">Guardar
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END Modal Cambiar imagen -->

<!-- Modal Cambiar contraseña -->
<div class="modal fade slide-up disable-scroll" id="changePw" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="pg-close fs-14"></i>
                    </button>
                </div>
                <div class="modal-body m-t-20">

                    <form #changePassword="ngForm" role="form" action="" novalidate>
                        <div class="form-group form-group-default">
                            <label>Introduce tu contraseña actual</label>
                            <input type="password" [(ngModel)]="password.oldpassword" #oldpassword="ngModel"
                                   class="form-control" name="oldPassword" placeholder="******" required=""
                                   aria-required="true">
                            <p [hidden]="oldpassword.valid || sendChangePassword == false" color="danger" padding-left>
                                Es obligatorio introducir tu antigua contraseña
                            </p>
                        </div>
                        <hr>
                        <div class="form-group form-group-default">
                            <label>Introduce tu nueva contraseña</label>
                            <input type="password" [(ngModel)]="password.newpassword" #newpassword="ngModel"
                                   class="form-control" name="newPassword" placeholder="******" required=""
                                   aria-required="true">
                            <p [hidden]="newpassword.valid || sendChangePassword == false" color="danger" padding-left>
                                Es obligatorio introducir tu nueva contraseña
                            </p>
                        </div>
                        <div class="form-group form-group-default">
                            <label>Verifica tu nueva contraseña</label>
                            <input type="password" [(ngModel)]="password.newpassword_confirmation"
                                   #newpassword_confirmation="ngModel"
                                   class="form-control" name="newpassword_confirmation" placeholder="******" required=""
                                   aria-required="true">
                            <p [hidden]="newpassword_confirmation.valid || sendChangePassword == false" color="danger"
                               padding-left>
                                Es obligatorio confirmar tu nueva contraseña
                            </p>
                        </div>
                    </form>

                    <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal"
                            (click)="onChangePassword(changePassword)">Guardar
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END Modal Cambiar contraseña -->

<!-- Modal Regenerar token CS -->
<div class="modal fade slide-up disable-scroll" id="changeCS" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="pg-close fs-14"></i>
                    </button>
                </div>
                <div class="modal-body m-t-20">

                    <form #changeCS="ngForm" role="form" action="" novalidate>
                        <div class="form-group form-group-default">
                            <label>Email</label>
                            <input type="email" [(ngModel)]="cs.email" #csemail="ngModel"
                                   class="form-control" name="email"
                                   value="{{user.email}}" required=""
                                   aria-required="true">
                            <p [hidden]="email.valid || sendCS == false" color="danger"
                               padding-left>
                                Es obligatorio introducir tu email
                            </p>
                        </div>
                        <div class="form-group form-group-default">
                            <label>Contraseña de Compassuite</label>
                            <input type="password" [(ngModel)]="cs.password" #cspassword="ngModel"
                                   class="form-control" name="csPassword" placeholder="******" required=""
                                   aria-required="true">
                            <p [hidden]="oldpassword.valid || sendCS == false" color="danger" padding-left>
                                Es obligatorio introducir la contraseña
                            </p>
                        </div>
                        <hr>
                    </form>

                    <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal"
                            (click)="onChangeCS(changeCS)">Regenerar
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END Modal Regenerar token CS -->