<link rel="stylesheet" href="assets/web/css/custom.css" />
<script type="text/javascript" src="assets/web/js/jquery.magnific-popup.min.js"></script>

<link rel="stylesheet" href="assets/web/css/magnific-popup.css" />
<div class="singleCinemaPage" id="singleShelter">
  <div class="header header-filter parallax-fix" id="slider"
       style="background-image: url('../../assets/img/theaters/cat.jpg'); background-size:cover">
  </div>
  <div class="main main-raised">
    <div class="dashboard-content">
      <div class="container">
        <div class="col-md-3 col-xs-12 image-block">
          <!-- post image -->
          <div class="blog-image margin-eleven"><img class="img-responsive" src="http://www.ci.desoto.tx.us/ImageRepository/Document?documentID=8678" alt=""></div>
          <!-- end post image -->

          <!-- social icon -->
          <div class="col-md-8 col-sm-9 product-details-social no-padding">
            <!-- social media sharing -->
            <h4 class="black-text text-uppercase text-small vertical-align-middle margin-right-five">{{ 'SINGLE-SHELTER.SHARE' | translate }} </h4>
            <div class="social-line">
              <a href="javascript" class="btn-simple" target="_blank"><i
                class="fa fa-facebook"></i></a>
              <a href="javascript" class="btn-simple" target="_blank"><i
                class="fa fa-twitter"></i></a>
            </div>
            <!-- end social media sharing -->
          </div>
          <!-- end social icon -->
        </div>

        <!-- sidebar  -->
        <div class="col-md-9 col-xs-12  xs-margin-top-ten">
          <!-- title -->
          <h2 class="blog-details-headline text-black">{{shelter.name}}</h2>

          <div class="thin-separator-line bg-youfeelm no-margin-lr"></div>
          <!-- END title -->

          <!-- Sinopsis -->
          <div class="blog-details-text">
            <p>{{shelter.description}} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
          </div>
          <!-- END Sinopsis -->

          <!-- Event Data -->

          <!-- END Event Data -->

        </div>
        <div class="col-md-12 col-xs-12">
          <div class="col-md-6 col-xs-6">
            <ul class="list-unstyled">
              <li>
                <h4>{{ 'SINGLE-SHELTER.CONTACT' | translate }} </h4>
                <hr>
              </li>
              <li>
                <div class="text-black text-uppercase">{{ 'SINGLE-SHELTER.PHONE' | translate }} <span class="event-details">{{shelter.phone}}</span>
                </div>
              </li>

              <li>
                <div class="text-black text-uppercase">{{ 'SINGLE-SHELTER.EMAIL' | translate }} <span class="event-details">{{shelter.email}}</span>
                </div>
              </li>

              <li>
                <div class="text-black text-uppercase">{{ 'SINGLE-SHELTER.SCHEDULE' | translate }} <span class="event-details">{{shelter.schedule}}</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-6">
            <ul class="list-unstyled">
              <li>
                <h4>{{ 'SINGLE-SHELTER.WHERE' | translate }} </h4>
                <hr>
              </li>
              <li>
                <div class="text-black text-uppercase">{{ 'SINGLE-SHELTER.CITY' | translate }} <span class="event-details">{{shelter.city}}</span></div>
              </li>
              <li>
                <div class="text-black text-uppercase">{{ 'SINGLE-SHELTER.ADDRESS' | translate }} <span class="event-details">{{shelter.address}}</span></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="col-md-12  no-padding">
            <h4 class="pull-left">{{ 'SINGLE-SHELTER.ANIMALS' | translate }}</h4>
            <a href="javascript:;" [routerLink]="['/shelters', search]" class='btn btn-primary pull-right'>{{ 'SINGLE-SHELTER.WATCH' | translate }}</a>

          </div>
          <div class="row">
            <div class="col-md-3">
              <eventCard></eventCard>
            </div>
            <div class="col-md-3">
              <eventCard></eventCard>
            </div>
            <div class="col-md-3">
              <eventCard></eventCard>
            </div>
            <div class="col-md-3">
              <eventCard></eventCard>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <h4>{{ 'SINGLE-SHELTER.FIND' | translate }} </h4>
          <hr>
          <div class="header parallax-fix" id="slider">
            <sebm-google-map [latitude]="37.34959" [longitude]="-5.84431" style="width:100%;height: 100%">
              <sebm-google-map-marker [latitude]="37.34959" [longitude]="-5.84431"></sebm-google-map-marker>
            </sebm-google-map>
          </div>
        </div>

        <!-- end sidebar  -->
      </div>
    </div>
  </div>
</div>
