@font-face {
	font-family: 'et-line';
	src:url('../fonts/et-line.eot');
	src:url('../fonts/et-line.eot?#iefix') format('embedded-opentype'),
		url('../fonts/et-line.woff') format('woff'),
		url('../fonts/et-line.ttf') format('truetype'),
		url('../fonts/et-line.svg#et-line') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'et-line';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mobile, .icon-laptop, .icon-desktop, .icon-tablet, .icon-phone, .icon-document, .icon-documents, .icon-search, .icon-clipboard, .icon-newspaper, .icon-notebook, .icon-book-open, .icon-browser, .icon-calendar, .icon-presentation, .icon-picture, .icon-pictures, .icon-video, .icon-camera, .icon-printer, .icon-toolbox, .icon-briefcase, .icon-wallet, .icon-gift, .icon-bargraph, .icon-grid, .icon-expand, .icon-focus, .icon-edit, .icon-adjustments, .icon-ribbon, .icon-hourglass, .icon-lock, .icon-megaphone, .icon-shield, .icon-trophy, .icon-flag, .icon-map, .icon-puzzle, .icon-basket, .icon-envelope, .icon-streetsign, .icon-telescope, .icon-gears, .icon-key, .icon-paperclip, .icon-attachment, .icon-pricetags, .icon-lightbulb, .icon-layers, .icon-pencil, .icon-tools, .icon-tools-2, .icon-scissors, .icon-paintbrush, .icon-magnifying-glass, .icon-circle-compass, .icon-linegraph, .icon-mic, .icon-strategy, .icon-beaker, .icon-caution, .icon-recycle, .icon-anchor, .icon-profile-male, .icon-profile-female, .icon-bike, .icon-wine, .icon-hotairballoon, .icon-globe, .icon-genius, .icon-map-pin, .icon-dial, .icon-chat, .icon-heart, .icon-cloud, .icon-upload, .icon-download, .icon-target, .icon-hazardous, .icon-piechart, .icon-speedometer, .icon-global, .icon-compass, .icon-lifesaver, .icon-clock, .icon-aperture, .icon-quote, .icon-scope, .icon-alarmclock, .icon-refresh, .icon-happy, .icon-sad, .icon-facebook, .icon-twitter, .icon-googleplus, .icon-rss, .icon-tumblr, .icon-linkedin, .icon-dribbble {
	font-family: 'et-line';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}
.icon-mobile:before {
	content: "\e000";
}
.icon-laptop:before {
	content: "\e001";
}
.icon-desktop:before {
	content: "\e002";
}
.icon-tablet:before {
	content: "\e003";
}
.icon-phone:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search:before {
	content: "\e007";
}
.icon-clipboard:before {
	content: "\e008";
}
.icon-newspaper:before {
	content: "\e009";
}
.icon-notebook:before {
	content: "\e00a";
}
.icon-book-open:before {
	content: "\e00b";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-calendar:before {
	content: "\e00d";
}
.icon-presentation:before {
	content: "\e00e";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-video:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e012";
}
.icon-printer:before {
	content: "\e013";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-briefcase:before {
	content: "\e015";
}
.icon-wallet:before {
	content: "\e016";
}
.icon-gift:before {
	content: "\e017";
}
.icon-bargraph:before {
	content: "\e018";
}
.icon-grid:before {
	content: "\e019";
}
.icon-expand:before {
	content: "\e01a";
}
.icon-focus:before {
	content: "\e01b";
}
.icon-edit:before {
	content: "\e01c";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-ribbon:before {
	content: "\e01e";
}
.icon-hourglass:before {
	content: "\e01f";
}
.icon-lock:before {
	content: "\e020";
}
.icon-megaphone:before {
	content: "\e021";
}
.icon-shield:before {
	content: "\e022";
}
.icon-trophy:before {
	content: "\e023";
}
.icon-flag:before {
	content: "\e024";
}
.icon-map:before {
	content: "\e025";
}
.icon-puzzle:before {
	content: "\e026";
}
.icon-basket:before {
	content: "\e027";
}
.icon-envelope:before {
	content: "\e028";
}
.icon-streetsign:before {
	content: "\e029";
}
.icon-telescope:before {
	content: "\e02a";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-key:before {
	content: "\e02c";
}
.icon-paperclip:before {
	content: "\e02d";
}
.icon-attachment:before {
	content: "\e02e";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-pencil:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-scissors:before {
	content: "\e035";
}
.icon-paintbrush:before {
	content: "\e036";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-circle-compass:before {
	content: "\e038";
}
.icon-linegraph:before {
	content: "\e039";
}
.icon-mic:before {
	content: "\e03a";
}
.icon-strategy:before {
	content: "\e03b";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-recycle:before {
	content: "\e03e";
}
.icon-anchor:before {
	content: "\e03f";
}
.icon-profile-male:before {
	content: "\e040";
}
.icon-profile-female:before {
	content: "\e041";
}
.icon-bike:before {
	content: "\e042";
}
.icon-wine:before {
	content: "\e043";
}
.icon-hotairballoon:before {
	content: "\e044";
}
.icon-globe:before {
	content: "\e045";
}
.icon-genius:before {
	content: "\e046";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-dial:before {
	content: "\e048";
}
.icon-chat:before {
	content: "\e049";
}
.icon-heart:before {
	content: "\e04a";
}
.icon-cloud:before {
	content: "\e04b";
}
.icon-upload:before {
	content: "\e04c";
}
.icon-download:before {
	content: "\e04d";
}
.icon-target:before {
	content: "\e04e";
}
.icon-hazardous:before {
	content: "\e04f";
}
.icon-piechart:before {
	content: "\e050";
}
.icon-speedometer:before {
	content: "\e051";
}
.icon-global:before {
	content: "\e052";
}
.icon-compass:before {
	content: "\e053";
}
.icon-lifesaver:before {
	content: "\e054";
}
.icon-clock:before {
	content: "\e055";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-quote:before {
	content: "\e057";
}
.icon-scope:before {
	content: "\e058";
}
.icon-alarmclock:before {
	content: "\e059";
}
.icon-refresh:before {
	content: "\e05a";
}
.icon-happy:before {
	content: "\e05b";
}
.icon-sad:before {
	content: "\e05c";
}
.icon-facebook:before {
	content: "\e05d";
}
.icon-twitter:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
.icon-rss:before {
	content: "\e060";
}
.icon-tumblr:before {
	content: "\e061";
}
.icon-linkedin:before {
	content: "\e062";
}
.icon-dribbble:before {
	content: "\e063";
}

/* YFICON */

@font-face {
	font-family: 'yficon';
	src:  url('../fonts/yf.eot?nwy5ho');
	src:  url('../fonts/yf.eot?nwy5ho#iefix') format('embedded-opentype'),
	url('../fonts/yf.ttf?nwy5ho') format('truetype'),
	url('../fonts/yf.woff?nwy5ho') format('woff'),
	url('..7fonts/yf.svg?nwy5ho#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'yficon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-my"], [class*=" icon-my"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mydatepicker' !important;
}

.icon-240:before {
	content: "\e904";
}
.icon-239:before {
	content: "\e905";
}
.icon-238:before {
	content: "\e906";
}
.icon-237:before {
	content: "\e907";
}
.icon-236:before {
	content: "\e908";
}
.icon-235:before {
	content: "\e909";
}
.icon-234:before {
	content: "\e90a";
}
.icon-233:before {
	content: "\e90b";
}
.icon-232:before {
	content: "\e90c";
}
.icon-231:before {
	content: "\e90d";
}
.icon-230:before {
	content: "\e90e";
}
.icon-229:before {
	content: "\e90f";
}
.icon-228:before {
	content: "\e910";
}
.icon-227:before {
	content: "\e911";
}
.icon-226:before {
	content: "\e912";
}
.icon-225:before {
	content: "\e913";
}
.icon-224:before {
	content: "\e914";
}
.icon-223:before {
	content: "\e915";
}
.icon-222:before {
	content: "\e916";
}
.icon-221:before {
	content: "\e917";
}
.icon-220:before {
	content: "\e918";
}
.icon-219:before {
	content: "\e919";
}
.icon-218:before {
	content: "\e91a";
}
.icon-217:before {
	content: "\e91b";
}
.icon-216:before {
	content: "\e91c";
}
.icon-215:before {
	content: "\e91d";
}
.icon-214:before {
	content: "\e91e";
}
.icon-213:before {
	content: "\e91f";
}
.icon-212:before {
	content: "\e920";
}
.icon-211:before {
	content: "\e921";
}
.icon-210:before {
	content: "\e922";
}
.icon-209:before {
	content: "\e923";
}
.icon-208:before {
	content: "\e924";
}
.icon-207:before {
	content: "\e925";
}
.icon-206:before {
	content: "\e926";
}
.icon-205:before {
	content: "\e927";
}
.icon-204:before {
	content: "\e928";
}
.icon-203:before {
	content: "\e929";
}
.icon-202:before {
	content: "\e92a";
}
.icon-201:before {
	content: "\e92b";
}
.icon-200:before {
	content: "\e92c";
}
.icon-199:before {
	content: "\e92d";
}
.icon-198:before {
	content: "\e92e";
}
.icon-197:before {
	content: "\e92f";
}
.icon-196:before {
	content: "\e930";
}
.icon-195:before {
	content: "\e931";
}
.icon-194:before {
	content: "\e932";
}
.icon-193:before {
	content: "\e933";
}
.icon-192:before {
	content: "\e934";
}
.icon-191:before {
	content: "\e935";
}
.icon-190:before {
	content: "\e936";
}
.icon-189:before {
	content: "\e937";
}
.icon-188:before {
	content: "\e938";
}
.icon-187:before {
	content: "\e939";
}
.icon-186:before {
	content: "\e93a";
}
.icon-185:before {
	content: "\e93b";
}
.icon-184:before {
	content: "\e93c";
}
.icon-183:before {
	content: "\e93d";
}
.icon-182:before {
	content: "\e93e";
}
.icon-181:before {
	content: "\e93f";
}
.icon-180:before {
	content: "\e940";
}
.icon-179:before {
	content: "\e941";
}
.icon-178:before {
	content: "\e942";
}
.icon-177:before {
	content: "\e943";
}
.icon-176:before {
	content: "\e944";
}
.icon-175:before {
	content: "\e945";
}
.icon-174:before {
	content: "\e946";
}
.icon-173:before {
	content: "\e947";
}
.icon-172:before {
	content: "\e948";
}
.icon-171:before {
	content: "\e949";
}
.icon-170:before {
	content: "\e94a";
}
.icon-169:before {
	content: "\e94b";
}
.icon-168:before {
	content: "\e94c";
}
.icon-167:before {
	content: "\e94d";
}
.icon-166:before {
	content: "\e94e";
}
.icon-165:before {
	content: "\e94f";
}
.icon-164:before {
	content: "\e950";
}
.icon-163:before {
	content: "\e951";
}
.icon-162:before {
	content: "\e952";
}
.icon-161:before {
	content: "\e953";
}
.icon-160:before {
	content: "\e954";
}
.icon-159:before {
	content: "\e955";
}
.icon-158:before {
	content: "\e956";
}
.icon-157:before {
	content: "\e957";
}
.icon-156:before {
	content: "\e958";
}
.icon-155:before {
	content: "\e959";
}
.icon-154:before {
	content: "\e95a";
}
.icon-153:before {
	content: "\e95b";
}
.icon-152:before {
	content: "\e95c";
}
.icon-151:before {
	content: "\e95d";
}
.icon-150:before {
	content: "\e95e";
}
.icon-149:before {
	content: "\e95f";
}
.icon-148:before {
	content: "\e960";
}
.icon-147:before {
	content: "\e961";
}
.icon-146:before {
	content: "\e962";
}
.icon-145:before {
	content: "\e963";
}
.icon-144:before {
	content: "\e964";
}
.icon-143:before {
	content: "\e965";
}
.icon-142:before {
	content: "\e966";
}
.icon-141:before {
	content: "\e967";
}
.icon-140:before {
	content: "\e968";
}
.icon-139:before {
	content: "\e969";
}
.icon-138:before {
	content: "\e96a";
}
.icon-137:before {
	content: "\e96b";
}
.icon-136:before {
	content: "\e96c";
}
.icon-135:before {
	content: "\e96d";
}
.icon-134:before {
	content: "\e96e";
}
.icon-133:before {
	content: "\e96f";
}
.icon-132:before {
	content: "\e970";
}
.icon-131:before {
	content: "\e971";
}
.icon-130:before {
	content: "\e972";
}
.icon-129:before {
	content: "\e973";
}
.icon-128:before {
	content: "\e974";
}
.icon-127:before {
	content: "\e975";
}
.icon-126:before {
	content: "\e976";
}
.icon-125:before {
	content: "\e977";
}
.icon-124:before {
	content: "\e978";
}
.icon-123:before {
	content: "\e979";
}
.icon-122:before {
	content: "\e97a";
}
.icon-121:before {
	content: "\e97b";
}
.icon-120:before {
	content: "\e97c";
}
.icon-119:before {
	content: "\e97d";
}
.icon-118:before {
	content: "\e97e";
}
.icon-117:before {
	content: "\e97f";
}
.icon-116:before {
	content: "\e980";
}
.icon-115:before {
	content: "\e981";
}
.icon-114:before {
	content: "\e982";
}
.icon-113:before {
	content: "\e983";
}
.icon-112:before {
	content: "\e984";
}
.icon-111:before {
	content: "\e985";
}
.icon-110:before {
	content: "\e986";
}
.icon-109:before {
	content: "\e987";
}
.icon-108:before {
	content: "\e988";
}
.icon-107:before {
	content: "\e989";
}
.icon-106:before {
	content: "\e98a";
}
.icon-105:before {
	content: "\e98b";
}
.icon-104:before {
	content: "\e98c";
}
.icon-103:before {
	content: "\e98d";
}
.icon-102:before {
	content: "\e98e";
}
.icon-101:before {
	content: "\e98f";
}
.icon-100:before {
	content: "\e990";
}
.icon-99:before {
	content: "\e991";
}
.icon-98:before {
	content: "\e992";
}
.icon-97:before {
	content: "\e993";
}
.icon-96:before {
	content: "\e994";
}
.icon-95:before {
	content: "\e995";
}
.icon-94:before {
	content: "\e996";
}
.icon-93:before {
	content: "\e997";
}
.icon-92:before {
	content: "\e998";
}
.icon-91:before {
	content: "\e999";
}
.icon-90:before {
	content: "\e99a";
}
.icon-89:before {
	content: "\e99b";
}
.icon-88:before {
	content: "\e99c";
}
.icon-87:before {
	content: "\e99d";
}
.icon-86:before {
	content: "\e99e";
}
.icon-85:before {
	content: "\e99f";
}
.icon-84:before {
	content: "\e9a0";
}
.icon-245:before {
	content: "\e9a1";
}
.icon-246:before {
	content: "\e9a2";
}
.icon-247:before {
	content: "\e9a3";
}
.icon-83:before {
	content: "\e9a4";
}
.icon-82:before {
	content: "\e9a5";
}
.icon-81:before {
	content: "\e9a6";
}
.icon-80:before {
	content: "\e9a7";
}
.icon-79:before {
	content: "\e9a8";
}
.icon-78:before {
	content: "\e9a9";
}
.icon-77:before {
	content: "\e9aa";
}
.icon-76:before {
	content: "\e9ab";
}
.icon-75:before {
	content: "\e9ac";
}
.icon-74:before {
	content: "\e9ad";
}
.icon-73:before {
	content: "\e9ae";
}
.icon-72:before {
	content: "\e9af";
}
.icon-71:before {
	content: "\e9b0";
}
.icon-70:before {
	content: "\e9b1";
}
.icon-69:before {
	content: "\e9b2";
}
.icon-68:before {
	content: "\e9b3";
}
.icon-67:before {
	content: "\e9b4";
}
.icon-66:before {
	content: "\e9b5";
}
.icon-65:before {
	content: "\e9b6";
}
.icon-64:before {
	content: "\e9b7";
}
.icon-63:before {
	content: "\e9b8";
}
.icon-62:before {
	content: "\e9b9";
}
.icon-61:before {
	content: "\e9ba";
}
.icon-60:before {
	content: "\e9bb";
}
.icon-59:before {
	content: "\e9bc";
}
.icon-58:before {
	content: "\e9bd";
}
.icon-57:before {
	content: "\e9be";
}
.icon-56:before {
	content: "\e9bf";
}
.icon-55:before {
	content: "\e9c0";
}
.icon-54:before {
	content: "\e9c1";
}
.icon-53:before {
	content: "\e9c2";
}
.icon-52:before {
	content: "\e9c3";
}
.icon-51:before {
	content: "\e9c4";
}
.icon-50:before {
	content: "\e9c5";
}
.icon-49:before {
	content: "\e9c6";
}
.icon-48:before {
	content: "\e9c7";
}
.icon-47:before {
	content: "\e9c8";
}
.icon-46:before {
	content: "\e9c9";
}
.icon-45:before {
	content: "\e9ca";
}
.icon-44:before {
	content: "\e9cb";
}
.icon-43:before {
	content: "\e9cc";
}
.icon-42:before {
	content: "\e9cd";
}
.icon-41:before {
	content: "\e9ce";
}
.icon-40:before {
	content: "\e9cf";
}
.icon-39:before {
	content: "\e9d0";
}
.icon-38:before {
	content: "\e9d1";
}
.icon-37:before {
	content: "\e9d2";
}
.icon-36:before {
	content: "\e9d3";
}
.icon-35:before {
	content: "\e9d4";
}
.icon-34:before {
	content: "\e9d5";
}
.icon-33:before {
	content: "\e9d6";
}
.icon-32:before {
	content: "\e9d7";
}
.icon-31:before {
	content: "\e9d8";
}
.icon-30:before {
	content: "\e9d9";
}
.icon-29:before {
	content: "\e9da";
}
.icon-28:before {
	content: "\e9db";
}
.icon-27:before {
	content: "\e9dc";
}
.icon-26:before {
	content: "\e9dd";
}
.icon-25:before {
	content: "\e9de";
}
.icon-24:before {
	content: "\e9df";
}
.icon-23:before {
	content: "\e9e0";
}
.icon-22:before {
	content: "\e9e1";
}
.icon-21:before {
	content: "\e9e2";
}
.icon-20:before {
	content: "\e9e3";
}
.icon-19:before {
	content: "\e9e4";
}
.icon-18:before {
	content: "\e9e5";
}
.icon-17:before {
	content: "\e9e6";
}
.icon-16:before {
	content: "\e9e7";
}
.icon-15:before {
	content: "\e9e8";
}
.icon-14:before {
	content: "\e9e9";
}
.icon-13:before {
	content: "\e9ea";
}
.icon-12:before {
	content: "\e9eb";
}
.icon-11:before {
	content: "\e9ec";
}
.icon-10:before {
	content: "\e9ed";
}
.icon-09:before {
	content: "\e9ee";
}
.icon-08:before {
	content: "\e9ef";
}
.icon-07:before {
	content: "\e9f0";
}
.icon-06:before {
	content: "\e9f1";
}
.icon-05:before {
	content: "\e9f2";
}
.icon-04:before {
	content: "\e9f3";
}
.icon-03:before {
	content: "\e9f4";
}
.icon-02:before {
	content: "\e9f5";
}
.icon-01:before {
	content: "\e9f6";
}


