<div class="filmCatalog">
  <div class="header header-filter parallax-fix" id="slider"
       style="background-image: url('../../assets/img/theaters/shelter.jpg');">
  </div>

  <div class="main main-raised">
    <div class="container margin-content">
      <div class="text-center">
        <h3 class="section-title no-padding">{{ 'SHELTER-CATALOG.SHELTERS' | translate }} {{province}}</h3>
      </div>
        <div *ngFor="let s of shelters" class="col-md-3 col-sm-6 col-xs-12  margin-bottom-three wow fadeInUp animated">
          <shelterCard [shelter]="s"></shelterCard>
        </div>
      </div>
      <div *ngIf="totalItems==8" class="form-group form-group-default form-group-default-select2 text-center">
        <button type="button"
                class="btn btn-primary"
                (click)="more()">
          <span>Ver más</span>
        </button>
      </div>
    </div>
  </div>

