<div class="filmCatalog">
  <div class="header header-filter parallax-fix" id="slider"
       style="background-image: url('../../assets/img/theaters/shelter.jpg');">
  </div>

  <div class="main main-raised">
    <div class="container margin-content">
      <div class="row">

        <div class="col-md-12">
          <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-three-link1"
             class="pull-left"><i
            class="icon-97"></i> Filtrar</a>

          <form class="controls">
            <div class="togglebutton pull-right">

              <label>
                Más recientes
                <input type="checkbox">
                Órden Alfabético
              </label>

            </div>
          </form>
          <hr>

          <div id="collapse-three-link1" class="panel-collapse collapse row margin-bottom-three">
            <form>
              <div class="col-md-2">
                <div class="select-style input-round">
                  <ng-select
                    [allowClear]="true"
                    [options]="countries"
                    [multiple]="true"
                    [(ngModel)]="filter.countries_id"
                    placeholder="País"
                    name="countries">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="select-style input-round">
                  <ng-select
                    [allowClear]="true"
                    [options]="genres"
                    [multiple]="true"
                    [(ngModel)]="filter.genres_id"
                    placeholder="Género"
                    name="genres">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="select-style input-round">
                  <ng-select
                    [allowClear]="true"
                    [options]="languages"
                    [multiple]="true"
                    [(ngModel)]="filter.languages_id"
                    placeholder="Idioma"
                    name="languages">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="select-style input-round">
                  <ng-select
                    [allowClear]="true"
                    [options]="tags"
                    [multiple]="true"
                    [(ngModel)]="filter.tags_id"
                    placeholder="Tag"
                    name="tags">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="select-style input-round">
                  <ng-select
                    [allowClear]="true"
                    [options]="qualifications"
                    [multiple]="true"
                    [(ngModel)]="filter.qualifications_id"
                    placeholder="Calificación"
                    name="qualifications">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-2">
                <button type="button"
                        class="btn btn-primary btn-sm pull-right no-margin"
                        (click)="applyFilter()">
                  <span>Filtrar</span>
                </button>
              </div>
            </form>
          </div>
        </div>

        <div *ngFor="let m of movies" class="col-md-3 col-sm-6 col-xs-12  margin-bottom-three wow fadeInUp animated">
          <filmCard [movie]="m"></filmCard>
        </div>
      </div>
      <div class="form-group form-group-default form-group-default-select2">
        <button type="button"
                class="btn btn-primary"
                (click)="mas()">
          <span>Ver mas</span>
        </button>
      </div>
    </div>
  </div>
</div>
