
<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom"
     role="navigation">
    <div class="container">
        <div class="row">
            <!-- logo -->
            <div class="col-md-2 pull-left">
                <a class="logo-light" href="javascript:;" routerLink="/index"><img alt="" width="205" height="70" class="logo" src="../../assets/img/pet2home.png"/></a>
            </div>
            <!-- end logo -->
            <!-- toggle navigation -->
            <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <!-- toggle navigation end -->
            <!-- main menu -->
            <div class="col-md-10 no-padding-right accordion-menu text-right">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right panel-group">
                        <!-- menu item -->
                        <li>
                          <a><img src="../../assets/img/spain.png" width="20" (click)="setLanguage('sp')"></a>
                        </li>
                        <li>
                          <a><img src="../../assets/img/United-Kingdom.png" width="20" (click)="setLanguage('en')"></a>
                        </li>

                        <li>
                            <a routerLink="/index" >Home</a>
                        </li>
                        <!-- menu item -->

                        <!--<li *ngIf="!session.id">-->
                            <!--<a class="modal-popup button-login" href="#modal-login">Login | registro</a>-->
                        <!--</li>-->
                        <!-- menu item -->
                        <li>
                          <a routerLink="/register">¡Regístrate!</a>
                        </li>
                        <!-- menu item -->

                      <!-- menu item -->
                      <li>
                        <a routerLink="/login">¡Entra!</a>
                      </li>
                      <!-- menu item -->
                        <li *ngIf="session.id" class="dropdown panel simple-dropdown top-login">


                            <a href="#collapse" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">
                                <img src="../../assets/img/profiles/avatar.jpg">
                            </a>

                            <!-- sub menu single -->
                            <!-- sub menu item  -->
                            <ul id="collapse" class="dropdown-menu panel-collapse collapse" role="menu">
                                <li><a href="javascript:;">What´s new!</a></li>
                                <li><a href="javascript:;">Mis eventos</a></li>
                                <li class="separator"><hr></li>
                                <li><a routerLink="/myProfile">Mi perfil</a></li>
                                <li><a class="modal-popup" (click)="onLogout()">Logout</a></li>
                            </ul>
                            <!-- end sub menu item  -->
                            <!-- end sub menu single -->
                        </li>

                    </ul>
                </div>
            </div>
            <!-- end main menu -->
        </div>
    </div>
</nav>
<!-- end navigation panel -->

    <!-- Content -->
    <router-outlet></router-outlet>
    <!-- END Content -->

<!-- footer -->
<footer id="footer">
  <div class="container footer-middle">
    <div class="row">
      <div class="col-md-3 col-sm-3 footer-link1 xs-display-none">
        <!-- headline -->
        <h5>Conócenos</h5>
        <!-- end headline -->
        <!-- link -->
        <ul>
          <li><a href="javascript:;">FAQ´s</a></li>
          <li><a href="javascript:;">Sobre pets2home</a></li>
        </ul>
        <!-- end link -->
      </div>

      <div class="col-md-2 col-sm-3 col-xs-4 footer-link4">
        <!-- headline -->
        <h5>Legal</h5>
        <!-- end headline -->
        <!-- link -->
        <ul>
          <li><a href="javascript:;">Contacto</a></li>
          <li><a href="javascript:;">Aviso Legal</a></li>
          <li><a href="javascript:;">Condiciones de uso</a></li>
        </ul>
        <!-- end link -->
      </div>
    </div>
    <div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>

  </div>

  <div class="container-fluid footer-bottom">
    <div class="row margin-three">
      <!-- copyright -->
      <div
        class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
        &copy; 2017 pets2home
      </div>
      <!-- end copyright -->
      <!-- social media link -->
      <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">

        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>


      </div>
      <!-- end social media link -->
    </div>
  </div>

</footer>

<!-- MODALS -->
<!-- modal login -->
<modal-login-component (onLoginEvent)="onLogin($event)"></modal-login-component>
<!-- end modal login -->

<!-- END MODALS -->
