
<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom"
     role="navigation">
    <div class="container">
        <div class="row">
            <!-- logo -->
            <div class="col-md-2 pull-left">
                <a class="logo-light" href="javascript:;" routerLink="/index"><img alt="" width="205" height="70" class="logo" src="../../assets/img/pet2home.png"/></a>
            </div>
            <!-- end logo -->
            <!-- toggle navigation -->
            <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <!-- toggle navigation end -->
            <!-- main menu -->
            <div class="col-md-10 no-padding-right accordion-menu text-right">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right panel-group">
                        <!-- menu item -->
                        <li>
                          <a><img src="../../assets/img/spain.png" width="20" (click)="setLanguage('sp')"></a>
                        </li>
                        <li>
                          <a><img src="../../assets/img/United-Kingdom.png" width="20" (click)="setLanguage('en')"></a>
                        </li>

                        <li>
                            <a routerLink="/index" >Home</a>
                        </li>
                        <!-- menu item -->

                        <!--<li *ngIf="!session.id">-->
                            <!--<a class="modal-popup button-login" href="#modal-login">Login | registro</a>-->
                        <!--</li>-->
                        <!-- menu item -->
                        <li>
                          <a routerLink="/register">¡Regístrate!</a>
                        </li>
                        <!-- menu item -->

                      <!-- menu item -->
                      <li>
                        <a routerLink="/login">¡Entra!</a>
                      </li>
                      <!-- menu item -->
                        <li *ngIf="session.id" class="dropdown panel simple-dropdown top-login">


                            <a href="#collapse" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">
                                <img src="../../assets/img/profiles/avatar.jpg">
                            </a>

                            <!-- sub menu single -->
                            <!-- sub menu item  -->
                            <ul id="collapse" class="dropdown-menu panel-collapse collapse" role="menu">
                                <li><a href="javascript:;">What´s new!</a></li>
                                <li><a href="javascript:;">Mis eventos</a></li>
                                <li class="separator"><hr></li>
                                <li><a routerLink="/myProfile">Mi perfil</a></li>
                                <li><a class="modal-popup" (click)="onLogout()">Logout</a></li>
                            </ul>
                            <!-- end sub menu item  -->
                            <!-- end sub menu single -->
                        </li>

                    </ul>
                </div>
            </div>
            <!-- end main menu -->
        </div>
    </div>
</nav>
<!-- end navigation panel -->

    <!-- Content -->
    <router-outlet></router-outlet>
    <!-- END Content -->

<!-- footer -->
<footer id="footer">
    <!--<div class="container footer-middle">-->
        <!--<div class="row">-->
            <!--<div class="col-md-3 col-sm-3 footer-link1 xs-display-none">-->
                <!--&lt;!&ndash; headline &ndash;&gt;-->
                <!--<h5>Mi Entrada</h5>-->
                <!--&lt;!&ndash; end headline &ndash;&gt;-->
                <!--<a href="javascript:;" class="highlight-button-dark btn btn-medium button xs-margin-bottom-five">Ver</a>-->
            <!--</div>-->
            <!--<div class="col-md-2 col-sm-3 col-xs-4 footer-link2 col-md-offset-3">-->
                <!--&lt;!&ndash; headline &ndash;&gt;-->
                <!--<h5>Conócenos</h5>-->
                <!--&lt;!&ndash; end headline &ndash;&gt;-->
                <!--&lt;!&ndash; link &ndash;&gt;-->
                <!--<ul>-->
                    <!--<li><a href="javascript:;">Qué es la #Cinecracia</a></li>-->
                    <!--<li><a href="javascript:;">Cómo funciona</a></li>-->
                    <!--<li><a href="javascript:;">FAQ´s</a></li>-->
                    <!--<li><a href="javascript:;">Sobre Youfeelm</a></li>-->
                    <!--<li><a href="javascript:;">Prensa</a></li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; end link &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-2 col-sm-3 col-xs-4 footer-link3">-->
                <!--&lt;!&ndash; headline &ndash;&gt;-->
                <!--<h5>Proyoufeelm</h5>-->
                <!--&lt;!&ndash; end headline &ndash;&gt;-->
                <!--&lt;!&ndash; link &ndash;&gt;-->
                <!--<ul>-->
                    <!--<li><a href="javascript:;">Creadores</a></li>-->
                    <!--<li><a href="javascript:;">Añade Película</a></li>-->
                    <!--<li><a href="javascript:;">Promotores</a></li>-->
                    <!--<li><a href="javascript:;">exhibidores</a></li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; end link &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-2 col-sm-3 col-xs-4  footer-link4">-->
                <!--&lt;!&ndash; headline &ndash;&gt;-->
                <!--<h5>Legal</h5>-->
                <!--&lt;!&ndash; end headline &ndash;&gt;-->
                <!--&lt;!&ndash; link &ndash;&gt;-->
                <!--<ul>-->
                    <!--<li><a href="javascript:;">Contacto</a></li>-->
                    <!--<li><a href="javascript:;">Aviso Legal</a></li>-->
                    <!--<li><a href="javascript:;">Condiciones de uso</a></li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; end link &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>-->
        <!--<div class="row margin-four no-margin-bottom">-->
            <!--<div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">-->
                <!--&lt;!&ndash; link &ndash;&gt;-->
                <!--<ul class="list-inline footer-link text-uppercase">-->
                    <!--<li><a class="popup-with-move-anim no-margin-bottom" href="#proposeMovie">Proponer Película</a></li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; end link &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">-->
                <!--&lt;!&ndash; social media link &ndash;&gt;-->
                <!--<a target="_blank" href="#"><i class="fa fa-facebook"></i></a>-->
                <!--<a target="_blank" href="#"><i class="fa fa-twitter"></i></a>-->
                <!--<a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>-->
                <!--<a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>-->
                <!--<a target="_blank" href="#"><i class="fa fa-tumblr"></i></a>-->
                <!--<a target="_blank" href="#"><i class="fa fa-instagram"></i></a>-->
                <!--<a target="_blank" href="#"><i class="fa fa-youtube"></i></a>-->
                <!--<a target="_blank" href="#"><i class="fa fa-vimeo"></i></a>-->
                <!--&lt;!&ndash; end social media link &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="container-fluid bg-yf-blue footer-bottom">
        <div class="container">
            <div class="row margin-three">
                <!-- copyright -->
                <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                    &copy; 2017 Pets2Home
                </div>
                <!-- end copyright -->
                <!-- logo -->
                <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
                    <a href="../../assets/img/logo-light-gray.png"><img src="../../assets/img/logo-light-gray.png" alt=""/></a>
                </div>
                <!-- end logo -->
            </div>
        </div>
    </div>

</footer>

<!-- MODALS -->
<!-- modal login -->
<modal-login-component (onLoginEvent)="onLogin($event)"></modal-login-component>
<!-- end modal login -->
<!-- modal Propose Movie -->
<div id="proposeMovie" class="zoom-anim-dialog col-lg-3 col-md-6 col-sm-7 col-xs-11 center-col bg-white modal-popup-main mfp-hide">
    <span class="slider-subtitle5 black-text no-margin-bottom text-center">Propón tu película</span>
    <p class="margin-four text-center">Puedes pedirnos...blabla.</p>
    <div class="form-group">
        <!-- label -->
        <label for="textbox" class="text-uppercase">Título de la película</label>
        <!-- end label -->
        <!-- input -->
        <input type="text" id="textbox" name="name" class="input-round big-input">
        <!-- end input -->
    </div>
    <div class="form-group">
        <!-- label -->
        <label for="textbox" class="text-uppercase">¿Dónde te gustaría verla?</label>
        <!-- end label -->
        <!-- input -->
        <input type="text" id="textbox" name="name" class="input-round big-input">
        <!-- end input -->
    </div>
    <div class="form-group">
        <!-- label -->
        <label for="form-message" class="text-uppercase">Comentarios adicionales</label>
        <!-- end label -->
        <!-- textarea -->
        <textarea id="form-message" name="message" class="input-round big-input"></textarea>
        <!-- end textarea -->
    </div>
    <a class="highlight-button btn btn-medium button xs-margin-bottom-five text-center" href="javascript">Enviar</a>
</div>

<!-- END modal Propose Movie -->
<!-- END MODALS -->
