
<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom"
     role="navigation">
    <div id="baba" class="container">
        <div class="row">
            <!-- logo -->
            <div class="col-md-2 pull-left">
                <a class="logo-light" href="javascript:;" routerLink="/index"><img alt="" width="205" height="70" class="logo" src="../../assets/img/pet2home.png"/></a>
            </div>
            <!-- end logo -->
            <!-- toggle navigation -->
            <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <!-- toggle navigation end -->
            <!-- main menu -->
            <div class="col-md-10 no-padding-right accordion-menu text-right">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right panel-group">
                        <!-- menu item -->
                        <li>
                          <a><img src="../../assets/img/spain.png" width="20" (click)="setLanguage('sp')"></a>
                        </li>
                        <li>
                          <a><img src="../../assets/img/United-Kingdom.png" width="20" (click)="setLanguage('en')"></a>
                        </li>
                      <li>
                        <a><div id="button-paypal"></div></a>
                      </li>
                        <li>
                            <a routerLink="/index" >{{'WEB.HOME' | translate}}</a>
                        </li>
                        <!-- menu item -->

                        <!--<li *ngIf="!session.id">-->
                            <!--<a class="modal-popup button-login" href="#modal-login">Login | registro</a>-->
                        <!--</li>-->
                        <!-- menu item -->

                      <li *ngIf="!session.profile">
                        <a routerLink="/register">{{'WEB.REGISTER' | translate}}</a>
                      </li>
                      <!-- menu item -->
                      <!-- menu item -->
                      <li *ngIf="!session.profile">
                        <a routerLink="/login">{{'WEB.LOG-IN' | translate}}</a>
                      </li>


                      <li *ngIf="session.profile == 2 || session.profile == 3" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" *ngIf="session.profile_img_url && session.profile_img_url != ''">
                          <img [src]="completeUrl(session.profile_img_url)" class="img-circle img-responsive hidden-xs">
                        </a>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" *ngIf="!session.profile_img_url || session.profile_img_url == ''">
                          <img src="assets/img/profiles/avatar.jpg" class="img-circle img-responsive hidden-xs">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li *ngIf="session.profile == 2"><a routerLink="/user/edit">Editar perfil</a></li>
                          <li *ngIf="session.profile === 2"><a routerLink="/dashboard">Mis reservas</a></li>
                          <li *ngIf="session.profile === 3"><a href="javascript:;">Mis animales</a></li>
                          <li *ngIf="session.profile === 3"><a href="javascript:;">Mis reservas</a></li>
                          <li *ngIf="session.profile === 3"><a href="javascript:;">Reservas pendientes</a></li>
                          <li class="separator">
                            <hr>
                          </li>
                          <li><a class="modal-popup" (click)="onLogout()">Logout</a></li>
                        </ul>
                      </li>

                    </ul>
                </div>
            </div>
            <!-- end main menu -->
        </div>
    </div>
</nav>
<!-- end navigation panel -->

    <!-- Content -->
    <router-outlet></router-outlet>
    <!-- END Content -->

<!-- footer -->
<footer id="footer">
  <div class="container footer-middle">
    <div class="row">
      <div class="col-md-3 col-sm-3 footer-link1 xs-display-none">
        <!-- headline -->
        <h5>{{'WEB.KNOW' | translate}}</h5>
        <!-- end headline -->
        <!-- link -->
        <ul>
          <li><a href="javascript:;">{{'WEB.FAQ' | translate}}</a></li>
          <li><a href="javascript:;">{{'WEB.ABOUT' | translate}}</a></li>
        </ul>
        <!-- end link -->
      </div>

      <div class="col-md-2 col-sm-3 col-xs-4 footer-link4">
        <!-- headline -->
        <h5>{{'WEB.LE' | translate}}</h5>
        <!-- end headline -->
        <!-- link -->
        <ul>
          <li><a href="javascript:;">{{'WEB.CONTACT' | translate}}</a></li>
          <li><a href="javascript:;">{{'WEB.LEGAL' | translate}}</a></li>
          <li><a href="javascript:;">{{'WEB.USE' | translate}}</a></li>
        </ul>
        <!-- end link -->
      </div>
    </div>
    <div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>

  </div>

  <div class="container-fluid footer-bottom">
    <div class="row margin-three">
      <!-- copyright -->
      <div
        class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
        &copy; 2017 Pets2Home
      </div>
      <!-- end copyright -->
      <!-- social media link -->
      <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">

        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>


      </div>
      <!-- end social media link -->
    </div>
  </div>

</footer>

<!-- MODALS -->


<!-- END MODALS -->
